/spring-config-server/target/
/shared-folder/
/spring-integration/target/
/spring-rest-api/target/
/shared-domain/target/
/.idea/
/spring-cloud-integration/target/
/spring-cloud-integration-http-inbound/target/
