/spring-config-server/target/
/shared-folder/
/spring-integration/target/
/spring-rest-api/target/
/shared-domain/target/
/.idea/
/spring-cloud-integration/target/
/spring-cloud-integration-http-inbound/target/
/spring-data-jpa/target/
/reactor-core/target/
/spring-webflux-r2dbc/target/
/data-flow-processor/target/
/data-flow-source/target/
/spring-core/target/
/spring-batch-job/target/
/spring-data-jpa-best-practice/target/
