<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="vn.quynv"  level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.SQL"  level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate"  level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JQueryLoggingListener"  level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>